
                   <fieldset  data-ng-repeat="choice in choices">
                      <input type="text" ng-model="choice.quest" name="" placeholder="Enter Question">
                      <input type="text" ng-model="choice.correct" name="" placeholder="Answer">
                      <p>
                      <input type="text" ng-model="choice.one" name="" placeholder="Choice A">
                      <input type="text" ng-model="choice.two" name="" placeholder="Choice B">
                      <input type="text" ng-model="choice.three" name="" placeholder="Choice C">
                      <input type="text" ng-model="choice.four" name="" placeholder="Choice D">
                      </p>
                      <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
                   </fieldset>
                   <button class="addfields" ng-click="addNewChoice()">Add a Question</button>
              <!-- 
                   <div id="choicesDisplay">
                      {{ choices }}
                   </div> -->

<p>&nbsp;</p>  
<p><a href="#/" class="btn btn-primary">Send Assignment</a></p>
<p>&nbsp;</p>
<p><a href="#/" class="btn btn-primary">Back</a></p>